bert
*.mp4
all_data
recollect_data
retrive_data/
test_save/
wandb/
results/
save/
*.tar.gz
.vscode/
__pycache__/
*/__pycache__/
*.egg-info/

combine_var_data/
recollect_traj_data/
rlbench_data.zip
test_data/